@charset "UTF-8";


input[type=text], input[type=email], input[type=tel], input[type=url], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
